.popup__field {
	box-sizing: border-box;
	max-width: 358px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 0 8px 0;
	color: #000;
	vertical-align: bottom;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 31px;
}